<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">

            <h2 class="textcenter">Create new account</h2>
            <form action="/signup" method="POST">

                {{#if errors}}
                <section class="errors">
                    <ul>
                        {{#each errors}}
                        <li>{{this.msg}}</li>
                        {{/each}}
                    </ul>
                </section>
                {{/if}}
                <div class="form-group">
                    <label for="">Name </label>
                    <input type="text" name="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Email </label>
                    <input type="text" name="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Phone number </label>
                    <input type="text" name="phonenumber" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control">
                </div>

                <a href="/login">Alreadt have account?</a>
                <button type="submit" class="btn btn-primary float-right">Signup</button>

            </form>

        </div>
    </div>
</div>